textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

textarea::-webkit-scrollbar-track {
  /* background: skyblue; */
  visibility: hidden;
}

textarea::-webkit-scrollbar-thumb {
  visibility: hidden;
}

textarea::-webkit-scrollbar-track:hover {
  visibility: visible;
  background: skyblue;
}

textarea::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: blue;
  border-radius: 6px;
}